* {
    margin: 2px;
    padding: auto;
}

body {
    background-color: #b0cddf;
    color: white;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#jessicaeolival {
    width: 150px;
}

h1, h2, p {
    font-family: 'Great Vibes', cursive;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 250px;
    height: 330px;
    color: 1px solid greenyellow;
}

.imagem-card {
    width: 230px;
    height: 230px;
}

.btn-primary {
 background-color: #50abe4;
}

#cozinha, #eletrodomesticos, #camamesabanho {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    gap: 10px;
}